@import 'tailwindcss';

@theme {
  --color-dark-purple: #0e0025;
  --color-cyan: #2DEFD8;
  --color-custom-blue: #111827;
  --color-custom-border-gray: #374151;
  --color-custom-text-gray: #9CA3AF;
}
